header.titulo {
    grid-area: titulo;
    background-color:  rgb(0, 63, 105);
    color: white;
}

.titulo h1{
    text-align: center;
    font: 2em arial;
}

img:not(.codigo){
    width: auto;
    max-width: 90%;
    position: relative;
    height: auto;
    margin: 1em auto;
    padding: 1em;
    display: block;
    /*border: 1px solid rgb(0, 63, 105);
    /*box-shadow: 5px -5px 5px -2px rgba(0,0,0,0.5);*/
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-left: 2em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  img.modal-content {
    margin: auto;
    display: block;
    width: auto;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    left: 1em;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* -- modal imagenes --*/

article{
    max-width: 1000px;
    min-width: 600px;
    margin: 2em auto;
}

p{
    margin-top: 0;
}

.imagen-grande{
    width: 1000px;
    position: absolute;
    left: 10px;
    top: 10px;
}

codigo{
    color: rgb(200, 255, 0);
    background: black;
    font: arial;
    display: block;
    margin: 0.5em;
    padding: 0.3em;
}

.apuntes a, .index a{
    text-decoration: none;
    color: black;
}

.apuntes a:after, .index a:after{
    content: '\25ba';
    color: rgb(255, 136, 0);
   
}

section.index>ol>li{
    padding-bottom:1em;
}


section.index{
    padding: 1em;
    column-count: 2;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: rgb(0, 63, 105);
    column-gap: 2em;
}

/*
section.index>ol>li:before{
    content: ' ';
    
    width: 1.5em;
    height: 1em;
   
    display: inline-block;
    background-color: rgb(96, 173, 224); 
    position: absolute;
    left: 0.3em;
}*/

li.anexo{
    list-style-type: none;
}



section.index>ol>li{
    font: 1.2em arial;
   /* margin: 0em;*/
}

section.index li{
    font: 0.8em arial
}

section.index ol ul{
    border: 1px solid rgb(0, 63, 105);
    border-radius: 0.3em;
}


.indice a{
    color: white;
    text-decoration: none;
}

/* Estilos para el tooltip */

.tooltip {
    position: absolute;
    top: 1em;
    right: 1em;
    display: inline-block;
	background: rgb(255, 196, 0);
    border-radius: .4em;
    width: 1.5em;
    height: 1.5em;
    font: 1em tahoma;
    padding: 0.2em;
    
    box-shadow: -4px 5px rgba(0, 0, 0, 0.2);
}

.tooltip:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
    border-left-color: rgb(255, 196, 0);
	border-right: 0;
	border-top: 0;
	margin-top: -5px;
    margin-right: -10px;
    
}

.tooltip:hover {
    width: 70%;
    height: auto;
}

.tooltip .tooltiptext {
    visibility: hidden;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Estilos para el indice */
.indice{
    width: 55px;
    height: 55px;
    border-radius: 0 0 100% 0;
    background-color: grey;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 10;
    transition: all 0.5s;
    overflow: hidden;
    margin: 0px;
    padding: 0 1em 0 0;
    color: white;
}

.indice:hover{
    width: auto;
    height: auto;
    border-radius: 0 0 0.5em 0;
}

div.hamburger {
    width: 30px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px;
    border-radius: 20%;
  }

/* Estilos para las migas */
#migasPan a{
    text-decoration: none;
    color: white;
}