header.titulo {
    grid-area: titulo;
    background-color: rgb(224, 137, 96);
    color: white;
}

.titulo h1{
    text-align: center;
}

nav.navegacion {
    grid-area: navegacion;
    padding: 0.5em;
}

section.actividades {
    grid-area: actividades;
    padding: 0.5em;
}

body {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas:
        "titulo titulo titulo titulo"
        "navegacion actividades actividades actividades"
    ;
    border: 0.1em solid  rgb(224, 137, 96);
}

nav.navegacion a {
    background-color: rgb(165, 61, 13);
    border-radius: 0.2em;
    color: white;
    width: 1em;
    margin: 0.1em;
    padding: 0.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

nav.navegacion a:active {
    transform: translate(0.2em, 0.2em);
}

article.ejercicio{
    background-color: rgb(228, 243, 172);
    border-radius: 0.5em;
    padding: 0.2em 1.5em 0.2em 1.5em ;
    font: 12pt arial;
    margin: 1em;
    display: none;
}

.ejercicio ul.ampliacion{
    background-color:  rgb(45, 208, 219);
    border-radius: 0.5em;
    padding: 1em 1em 1em 2em;
    margin: 1em 1em 1em 4em;
}
